@CHARSET "UTF-8";

.profile-nav{
	heught:250px;
}

.my-body{
	margin:0 auto;
	min-height:50px;
	width:80%;
	display:flex;
	justify-content:space-around;
	align-items: center;
	backgroung-color:#fbdd8d;
	flex-direction: row;
}

.my-body .detailshow{
	margin-left:15px;
	margin-right:15px;
	flex-grow:1.5;
	height:80%
}