<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j219.dao.AddNewGoodsMapper">

    <insert id="addNewGoodsTableGoods">
        insert into goods values(#{goods_no},#{goods_name},#{goods_discount},#{goods_status},#{sort_no},#{brand_no});
    </insert> 
    
    <insert id="addNewGoodsTableSpec">
    	insert into spec values(#{spec_no},#{spec_type},#{goods_no});
    </insert>
    
    <insert id="addNewGoodsTableGoodsDetails">
    insert into goods_details(spec_no,price,sku) values(#{spec_no},#{price},#{sku});
    </insert>
    
</mapper>