<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j219.dao.GoodsTwoDao">
    <resultMap type="com.j219.model.GoodsTwo" id="Map">
        <id property="id" column="id" />
        <result property="goodsname" column="goods_name" />
      	<result property="ordersCount" column="ordersCount" />
        <result property="torderCount" column="torderCount" />
        <result property="bulletinstit" column="bulletin_title" />
  		<result property="bulletins" column="bulletin_content" />
        <result property="cartCount" column="CartCount" />
        <result property="goodsimgadrs" column="goods_img" />
  		<result property="brandname" column="brand_name" />
  		<result property="spectype" column="spec_type" />
  		<result property="specno" column="spec_no" />
  		<result property="price" column="price" />
  		<result property="area" column="area" />
  		<result property="addrsdetail" column="address_detail" />
  		<result property="addrsno" column="address_no" />
  		<result property="goodscount" column="goods_count" />
  		<result property="sku" column="sku" />
    </resultMap>
    <select id="getGoodsname" parameterType="java.lang.String"
        resultMap="Map">
        select * from goods where goods_name LIKE '%${goodsname}%'
    </select>
    <select id="getOrdersCountByAccount" parameterType="java.lang.String"
        resultMap="Map">
        select count(*) ordersCount from orders where account=#{account} and order_status=0
    </select>
    <select id="getTOrdersCountByAccount" parameterType="java.lang.String"
        resultMap="Map">
        select count(*) torderCount from orders where account=#{account} and order_status=3
    </select>
    <select id="getbulltinstitle" parameterType="java.lang.String"
        resultMap="Map">
        select * from bulletins
    </select>
    <select id="getbulltins" parameterType="java.lang.String"
        resultMap="Map">
        select bulletin_content from bulletins where bulletin_title=#{bulletinstit}
    </select>
    
     <select id="getCartCountByAccount" parameterType="java.lang.String"
        resultMap="Map">
        select count(*) CartCount from cart_details where account=#{account}
    </select>
     <select id="getGoodDetails" parameterType="java.lang.String"
        resultMap="Map">
        select min(price) price ,goods.goods_img,goods.goods_name 
		from goods,goods_details,spec 
		where goods.goods_no=spec.goods_no and spec.spec_no=goods_details.spec_no 
		group by goods.goods_no,goods.goods_name,goods.goods_img
    </select>
     <select id="getGoodDetailsBygoodsname" parameterType="java.lang.String"
        resultMap="Map">
        select spec.spec_no, goods_img,brand_name,spec_type,price 
        from goods_details, spec,goods,brands 
		where goods_name=#{goodsname} and 
		goods.brand_no=brands.brand_no and 
		spec.goods_no=goods.goods_no and 
		goods_details.spec_no=spec.spec_no
    </select>
     <select id="getGoodsPrice" parameterType="java.lang.String"
        resultMap="Map">
        select price from goods_details, spec 
		where  goods_details.spec_no=spec.spec_no and spec.spec_no=#{specno}
    </select>
    <select id="getaddress" parameterType="java.lang.String"
        resultMap="Map">
        select area,address_detail,address_no from user_address where account=#{account}
    </select>
    <select id="getCartGoods" parameterType="java.lang.String"
        resultMap="Map">
        select cart_details.spec_no,goods_count,price,sku,spec_type,goods_name,goods_img
 		from goods_details, cart_details ,spec,goods
 		where account=#{account} and goods_details.spec_no=cart_details.spec_no 
 		and goods_details.spec_no=spec.spec_no
  		and goods.goods_no=spec.goods_no
    </select>
    <delete id="delCart" parameterType="java.lang.String">
		delete from cart_details where account=#{account} and spec_no=#{specno}   
		 </delete>
</mapper>