<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j219.dao.GoodsTwoDao">
    <resultMap type="com.j219.model.GoodsTwo" id="Map">
        <id property="id" column="id" />
        <result property="goodsname" column="goods_name" />
      	<result property="ordersCount" column="ordersCount" />
        <result property="torderCount" column="torderCount" />
        <result property="bulletinstit" column="bulletin_title" />
  		 <result property="bulletins" column="bulletin_content" />
        
    </resultMap>
    <select id="getGoodsname" parameterType="java.lang.String"
        resultMap="Map">
        select * from goods where goods_name LIKE '%${goodsname}%'
    </select>
    <select id="getOrdersCountByAccount" parameterType="java.lang.String"
        resultMap="Map">
        select count(*) ordersCount from orders where account=#{account} and order_status=0
    </select>
    <select id="getTOrdersCountByAccount" parameterType="java.lang.String"
        resultMap="Map">
        select count(*) torderCount from orders where account=#{account} and order_status=3
    </select>
    <select id="getbulltinstitle" parameterType="java.lang.String"
        resultMap="Map">
        select * from bulletins
    </select>
    <select id="getbulltins" parameterType="java.lang.String"
        resultMap="Map">
        select bulletin_content from bulletins where bulletin_title=#{bulletinstit}
    </select>
    
</mapper>