<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j219.dao.MyordersDao"><!-- 与Dao的包名一致 -->

	<select id="findMyorders" resultType="com.j219.model.Myorders">
		select
		order_details.order_no,orders.order_time,express.express_name,sum(order_details.discount_price)
		sum_price
		from orders ,express ,order_details
		where
		#{account}=orders.account and orders.order_no=order_details.order_no and
		express.express_no=orders.express_no
		group by order_details.order_no,orders.order_time,express.express_name
	</select>

</mapper>